PG_DSN=postgresql://username:password@host:5432/database
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database
MONGO_DB=adopt-auth-test
MONGO_AUTH_URI=mongodb+srv://username:password@cluster.mongodb.net/adopt-auth
MONGO_AUTH_DB=adopt-auth
ACCESS_PASSWORD=change-this-very-strong-password
FLASK_SECRET_KEY=change-this-random-secret-key
SESSION_COOKIE_SECURE=true
